body {
  background-color: lightslategrey;
}

#root {
  margin: 30px;
}


.headerBar {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.msgDiv {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.btnPartHeader {
  float: right;
  margin: 30px;
}

.index {
  float: left;
  font-size: 12px;
  text-align: center;
  width: 30px;
  border: 1px solid transparent;
  margin-right: -1px;
  margin-top: -1px;
}

.btnPart {
  display: inline-flex;
}
.btn {
  width: 90px;
  height: 20px;
  background-color: rgb(207, 205, 200);
  color: black;
  font-size: 1em;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn_home {
  float: left;
}

ul {
  list-style-type: none;
}

.post_input{}

.post_element{
  background-color: slategray;
}

.post_title{
  margin: 10px 5px;
  font-size: 20px;
  font-weight: 600;
  display: inline;
  padding: 5px;
}

.post_email{
  margin: 10px 5px;
  font-size: 14px;
  float: right;
}

.post_text{
  margin: 10px 5px;
  font-size: 16px;
}